In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [3]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.

for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [5]:
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning

counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`


application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [8]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
countsbinning = application_df['CLASSIFICATION'].value_counts()

In [10]:
countsclassification = countsbinning[countsbinning>1]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<100].index)
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [12]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

array([1, 1, 0, ..., 0, 1, 0])

In [15]:
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

array([[1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0859000e+05, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 3.6500179e+07, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [16]:
# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 0)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=100
hidden_nodes_layer2=50
hidden_nodes_layer3=20
hidden_nodes_layer4=4

nn = tf.keras.models.Sequential()
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 100)               5000

 dense_4 (Dense)             (None, 50)                5050

 dense_5 (Dense)             (None, 20)                1020

 dense_6 (Dense)             (None, 4)                 84

 dense_7 (Dense)             (None, 1)                 5

=================================================================
Total params: 11,159
Trainable params: 11,159
Non-trainable params: 0
_________________________________________________________________

In [23]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [24]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5733 - accuracy: 0.7170 - val_loss: 0.5410 - val_accuracy: 0.7365
Epoch 2/100
684/684 [==============================] - 1s 969us/step - loss: 0.5548 - accuracy: 0.7278 - val_loss: 0.5405 - val_accuracy: 0.7367
Epoch 3/100
684/684 [==============================] - 1s 964us/step - loss: 0.5518 - accuracy: 0.7302 - val_loss: 0.5397 - val_accuracy: 0.7378
Epoch 4/100
684/684 [==============================] - 1s 963us/step - loss: 0.5493 - accuracy: 0.7309 - val_loss: 0.5397 - val_accuracy: 0.7367
Epoch 5/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7311 - val_loss: 0.5367 - val_accuracy: 0.7383
Epoch 6/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7311 - val_loss: 0.5343 - val_accuracy: 0.7411
Epoch 7/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7327 - val_loss: 0.5371 - val_accuracy: 0.7440
Epoch 8/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7335 - val_loss: 0.5358 - val_accuracy: 0.7396
Epoch 9/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7344 - val_loss: 0.5386 - val_accuracy: 0.7411
Epoch 10/100
684/684 [==============================] - 1s 998us/step - loss: 0.5438 - accuracy: 0.7338 - val_loss: 0.5337 - val_accuracy: 0.7422
Epoch 11/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7353 - val_loss: 0.5368 - val_accuracy: 0.7411
Epoch 12/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7348 - val_loss: 0.5394 - val_accuracy: 0.7328
Epoch 13/100
684/684 [==============================] - 1s 993us/step - loss: 0.5425 - accuracy: 0.7346 - val_loss: 0.5319 - val_accuracy: 0.7422
Epoch 14/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7348 - val_loss: 0.5356 - val_accuracy: 0.7424
Epoch 15/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7351 - val_loss: 0.5341 - val_accuracy: 0.7432
Epoch 16/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7363 - val_loss: 0.5347 - val_accuracy: 0.7437
Epoch 17/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7352 - val_loss: 0.5373 - val_accuracy: 0.7427
Epoch 18/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7368 - val_loss: 0.5345 - val_accuracy: 0.7440
Epoch 19/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7370 - val_loss: 0.5325 - val_accuracy: 0.7463
Epoch 20/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7363 - val_loss: 0.5345 - val_accuracy: 0.7460
Epoch 21/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7374 - val_loss: 0.5330 - val_accuracy: 0.7409
Epoch 22/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7373 - val_loss: 0.5333 - val_accuracy: 0.7435
Epoch 23/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7366 - val_loss: 0.5352 - val_accuracy: 0.7432
Epoch 24/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7384 - val_loss: 0.5340 - val_accuracy: 0.7458
Epoch 25/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7384 - val_loss: 0.5366 - val_accuracy: 0.7450
Epoch 26/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7379 - val_loss: 0.5392 - val_accuracy: 0.7450
Epoch 27/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7376 - val_loss: 0.5361 - val_accuracy: 0.7440
Epoch 28/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7381 - val_loss: 0.5347 - val_accuracy: 0.7432
Epoch 29/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7390 - val_loss: 0.5326 - val_accuracy: 0.7440
Epoch 30/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7377 - val_loss: 0.5384 - val_accuracy: 0.7448
Epoch 31/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7380 - val_loss: 0.5386 - val_accuracy: 0.7445
Epoch 32/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7389 - val_loss: 0.5374 - val_accuracy: 0.7422
Epoch 33/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7383 - val_loss: 0.5420 - val_accuracy: 0.7411
Epoch 34/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7400 - val_loss: 0.5376 - val_accuracy: 0.7419
Epoch 35/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7396 - val_loss: 0.5426 - val_accuracy: 0.7391
Epoch 36/100
684/684 [==============================] - 1s 997us/step - loss: 0.5358 - accuracy: 0.7397 - val_loss: 0.5377 - val_accuracy: 0.7429
Epoch 37/100
684/684 [==============================] - 1s 1000us/step - loss: 0.5360 - accuracy: 0.7391 - val_loss: 0.5403 - val_accuracy: 0.7409
Epoch 38/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7395 - val_loss: 0.5386 - val_accuracy: 0.7432
Epoch 39/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7399 - val_loss: 0.5394 - val_accuracy: 0.7424
Epoch 40/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7399 - val_loss: 0.5438 - val_accuracy: 0.7432
Epoch 41/100
684/684 [==============================] - 1s 978us/step - loss: 0.5344 - accuracy: 0.7414 - val_loss: 0.5412 - val_accuracy: 0.7424
Epoch 42/100
684/684 [==============================] - 1s 982us/step - loss: 0.5344 - accuracy: 0.7398 - val_loss: 0.5392 - val_accuracy: 0.7435
Epoch 43/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7412 - val_loss: 0.5389 - val_accuracy: 0.7455
Epoch 44/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7401 - val_loss: 0.5448 - val_accuracy: 0.7463
Epoch 45/100
684/684 [==============================] - 1s 982us/step - loss: 0.5335 - accuracy: 0.7402 - val_loss: 0.5434 - val_accuracy: 0.7440
Epoch 46/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7404 - val_loss: 0.5399 - val_accuracy: 0.7473
Epoch 47/100
684/684 [==============================] - 1s 997us/step - loss: 0.5335 - accuracy: 0.7396 - val_loss: 0.5447 - val_accuracy: 0.7427
Epoch 48/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7405 - val_loss: 0.5460 - val_accuracy: 0.7427
Epoch 49/100
684/684 [==============================] - 1s 1000us/step - loss: 0.5332 - accuracy: 0.7411 - val_loss: 0.5424 - val_accuracy: 0.7463
Epoch 50/100
684/684 [==============================] - 1s 983us/step - loss: 0.5328 - accuracy: 0.7408 - val_loss: 0.5447 - val_accuracy: 0.7448
Epoch 51/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7405 - val_loss: 0.5475 - val_accuracy: 0.7411
Epoch 52/100
684/684 [==============================] - 1s 973us/step - loss: 0.5324 - accuracy: 0.7406 - val_loss: 0.5436 - val_accuracy: 0.7432
Epoch 53/100
684/684 [==============================] - 1s 980us/step - loss: 0.5321 - accuracy: 0.7409 - val_loss: 0.5472 - val_accuracy: 0.7424
Epoch 54/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7402 - val_loss: 0.5420 - val_accuracy: 0.7453
Epoch 55/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7406 - val_loss: 0.5449 - val_accuracy: 0.7432
Epoch 56/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7407 - val_loss: 0.5471 - val_accuracy: 0.7448
Epoch 57/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7404 - val_loss: 0.5437 - val_accuracy: 0.7435
Epoch 58/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7412 - val_loss: 0.5460 - val_accuracy: 0.7437
Epoch 59/100
684/684 [==============================] - 1s 977us/step - loss: 0.5318 - accuracy: 0.7415 - val_loss: 0.5465 - val_accuracy: 0.7427
Epoch 60/100
684/684 [==============================] - 1s 987us/step - loss: 0.5320 - accuracy: 0.7410 - val_loss: 0.5477 - val_accuracy: 0.7437
Epoch 61/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7410 - val_loss: 0.5536 - val_accuracy: 0.7419
Epoch 62/100
684/684 [==============================] - 1s 983us/step - loss: 0.5324 - accuracy: 0.7414 - val_loss: 0.5453 - val_accuracy: 0.7453
Epoch 63/100
684/684 [==============================] - 1s 987us/step - loss: 0.5317 - accuracy: 0.7410 - val_loss: 0.5452 - val_accuracy: 0.7440
Epoch 64/100
684/684 [==============================] - 1s 995us/step - loss: 0.5321 - accuracy: 0.7410 - val_loss: 0.5486 - val_accuracy: 0.7416
Epoch 65/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7410 - val_loss: 0.5537 - val_accuracy: 0.7429
Epoch 66/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7412 - val_loss: 0.5514 - val_accuracy: 0.7409
Epoch 67/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5306 - accuracy: 0.7431 - val_loss: 0.5492 - val_accuracy: 0.7445
Epoch 68/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7412 - val_loss: 0.5427 - val_accuracy: 0.7440
Epoch 69/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7412 - val_loss: 0.5511 - val_accuracy: 0.7424
Epoch 70/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7405 - val_loss: 0.5468 - val_accuracy: 0.7463
Epoch 71/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7409 - val_loss: 0.5444 - val_accuracy: 0.7435
Epoch 72/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7419 - val_loss: 0.5481 - val_accuracy: 0.7422
Epoch 73/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7414 - val_loss: 0.5494 - val_accuracy: 0.7409
Epoch 74/100
684/684 [==============================] - 1s 995us/step - loss: 0.5304 - accuracy: 0.7422 - val_loss: 0.5512 - val_accuracy: 0.7406
Epoch 75/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5303 - accuracy: 0.7419 - val_loss: 0.5497 - val_accuracy: 0.7435
Epoch 76/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7420 - val_loss: 0.5538 - val_accuracy: 0.7416
Epoch 77/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7422 - val_loss: 0.5473 - val_accuracy: 0.7398
Epoch 78/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7412 - val_loss: 0.5539 - val_accuracy: 0.7419
Epoch 79/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5301 - accuracy: 0.7421 - val_loss: 0.5575 - val_accuracy: 0.7429
Epoch 80/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7419 - val_loss: 0.5522 - val_accuracy: 0.7409
Epoch 81/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7415 - val_loss: 0.5579 - val_accuracy: 0.7422
Epoch 82/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7414 - val_loss: 0.5584 - val_accuracy: 0.7401
Epoch 83/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5298 - accuracy: 0.7416 - val_loss: 0.5595 - val_accuracy: 0.7411
Epoch 84/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5298 - accuracy: 0.7414 - val_loss: 0.5577 - val_accuracy: 0.7411
Epoch 85/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7415 - val_loss: 0.5550 - val_accuracy: 0.7414
Epoch 86/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7416 - val_loss: 0.5495 - val_accuracy: 0.7437
Epoch 87/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7418 - val_loss: 0.5513 - val_accuracy: 0.7440
Epoch 88/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5298 - accuracy: 0.7417 - val_loss: 0.5510 - val_accuracy: 0.7424
Epoch 89/100
684/684 [==============================] - 1s 995us/step - loss: 0.5295 - accuracy: 0.7418 - val_loss: 0.5588 - val_accuracy: 0.7440
Epoch 90/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7419 - val_loss: 0.5494 - val_accuracy: 0.7416
Epoch 91/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7421 - val_loss: 0.5485 - val_accuracy: 0.7424
Epoch 92/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7421 - val_loss: 0.5572 - val_accuracy: 0.7409
Epoch 93/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5291 - accuracy: 0.7424 - val_loss: 0.5594 - val_accuracy: 0.7429
Epoch 94/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7419 - val_loss: 0.5578 - val_accuracy: 0.7460
Epoch 95/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7419 - val_loss: 0.5573 - val_accuracy: 0.7435
Epoch 96/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5295 - accuracy: 0.7419 - val_loss: 0.5554 - val_accuracy: 0.7419
Epoch 97/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5292 - accuracy: 0.7420 - val_loss: 0.5526 - val_accuracy: 0.7422
Epoch 98/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5293 - accuracy: 0.7419 - val_loss: 0.5592 - val_accuracy: 0.7419
Epoch 99/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5294 - accuracy: 0.7422 - val_loss: 0.5605 - val_accuracy: 0.7435
Epoch 100/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5292 - accuracy: 0.7417 - val_loss: 0.5629 - val_accuracy: 0.7414

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5942 - accuracy: 0.7245 - 145ms/epoch - 541us/step
Loss: 0.5941712260246277, Accuracy: 0.7245481014251709

In [27]:
nn.save('Charity-Fund-Predictor.h5')